.navbar {
  cursor: pointer;
  font-family: Arial, Helvetica, sans-serif;
}

.nav-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  margin: 16px 0 5px;
  padding: 0 20px;
}

.title {
  font-size: xx-large;
  font-weight: 800;
  flex-basis: 100%;
  /* border: 1px solid black; */
  text-align: center;
  padding: 5px;
}

.nav-item {
  padding: 10px;
  text-align: center;
  /* border: 1px solid black; */
}

.title:hover,
.nav-item:hover {
  color: purple;
}
