<div class="product-container" *ngIf="loadedProducts.length >= 1">
  <div
    class="product-card"
    routerLink="/shop/{{ i }}"
    *ngFor="let productElement of loadedProducts; let i = index"
  >
    <div class="img-container">
      <img class="image" src="{{ productElement.image }}" />
    </div>
    <div class="text-container">
      <div class="product-name">{{ productElement.name }}</div>
      <div class="product-price">${{ productElement.price.toFixed(2) }}</div>
    </div>
  </div>
</div>
